@import url('http://fonts.googleapis.com/css?family=Open+Sans');

body{
	margin: auto;
	background: -webkit-linear-gradient(360deg, whitesmoke , white);
}
header{
	width: 800px;
	font-size: 36px;
	text-align: center;
	margin-bottom: 10px;
	color: lightgray;
}
footer{
	width: 800px;
	text-align: center;
	clear: both;
	bottom: 0px;
	color: gray;
	margin-top: 25px;
}
.wrapper{
	margin: auto;
	width: 800px;
	overflow: auto;
	color: black;
	font-family: "Open Sans", sans-serif;
}
.calc-container{
	border: 1px solid #DE7;
	box-shadow: 10px 10px 5px #888888;
	width: 320px;
	height: 345px;
	text-align: center;
	margin: auto;
	background: darkgray;
	border-radius: 5px;
}
.inner-container{
	border: 1px solid #DDD;
	width: 300px;
	height: 325px;
	text-align: center;
	margin: auto;
	margin-top: 10px;
	background: rgb(242, 242, 242);
	border-radius: 5px;
}
#console{
	background: #ccff99;
	width: 275px;
	height: 50px;
	line-height: 50px;
	border: 1px solid gray;
	border-radius: 3px;
	margin: auto;
	margin-top: 15px;
	box-shadow: 2px 2px 2px #888888;
	text-align: right;
	padding-right: 5px;
	font-size: 14px;
}
#key-pad{
	border: 1px solid gray;
	box-shadow: 2px 2px 2px #888888;
	margin: auto;
	margin-top: 10px;
	width: 280px;
	height: 235px;
	border-radius: 3px;
}
.key{
	width: 44px;
	height: 40px;
	white-space: normal;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	margin-left: 2px;
	border: 4px double yellowgreen;
	margin-right: 2px;
	background: white;
	border-radius: 10px;
	outline: none;
	-moz-box-shadow: 1px 1px 0px 0px yellowgreen;
	-webkit-box-shadow: 1px 1px 0px 0px yellowgreen;
	box-shadow: 1px 1px 0px 0px yellowgreen;
}
.key:active {
	position:relative;
	top:2px;
}
.row{
	margin:10px;
}
.row-1{
	margin-top: 25px;
}